#items {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#items:hover {
    transform: translateY(-5px);
    background: linear-gradient(to right, #e9ecef, #dee2e6);
}

.deleteBtn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.deleteBtn:hover {
    background-color: #c82333;
}
